.container {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  gap: 0.8rem;

  img {
    width: 8vh;
    animation: moveImage 2s ease-in-out infinite;
  }

  @keyframes moveImage {
    0% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(10%);
    }

    100% {
      transform: translateX(0);
    }
  }

  h1 {
    font-size: 2rem;
    background: none;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #ce65f5 0%, #ff5dff 100%);
  }
}