.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  align-items: center;
  padding: 2rem;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  height: 65vh;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  padding: 0.5rem;

  &:hover {
    transform: scale(1.05);
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 20vh;
    mix-blend-mode: multiply;
  }

  h2 {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.paragraph {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1;
  width: 100%;
  margin-top: 2rem;
}

.shipping_box {
  display: flex;
  align-items: center;
  width: 100%;
  
  small {
    font-size: 0.6rem;
    color: #3a3a3a;
  }
  
  img {
    height: 4vh;
    width: 2vw;
  }

  span {
    font-size: 0.8rem;
    color: #43cb55;
  }
}

.star {
  color: #A843CB;
}